[Interface]
Address = {{ vpn_ip }}
PrivateKey = {{ private.content | b64decode | trim }}
ListenPort = {{ wireguard_port }}

[Peer]
PublicKey = {{ hostvars[wireguard_server_name].public.content | b64decode | trim }}
AllowedIPs = {{ wireguard_network }}
Endpoint = {{ hostvars[wireguard_server_name].ansible_default_ipv4.address }}:{{ wireguard_port }}
PersistentKeepalive = 10
